@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* header */

.header {
  position: fixed;
  background-color: #333;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2rem;
  padding: 10px 20px;
  color: #5fe5f7;
}

.header .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #fff;
}

.header li a:hover {
  background-color: #5fe5f7;
}
/* .header .menu-btn:hover */

/* menu */
/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
}

.header .menu-icon .navicon {
  background: #5fe5f7;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #5fe5f7;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:before,
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* block home */
.my_status {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: inherit;
  padding-top: 3rem;
  align-items: center;
}

.container_img {
  display: flex;
}

/* block about */
#about_me {
  text-align: center;
  margin-top: 2rem;
  font-family: "Dancing Script", cursive;
  background: #758f9c63;
  border-top: 1px solid #5fe5f7;
  border-bottom: 1px solid #5fe5f7;
}

#about_me > p {
  line-height: 2;
  font-size: 22px;
}

/* block skills */
.skills_content {
  text-align: center;
}

#skills,
h1 {
  padding-top: 1.5rem;
}
.my_works {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* block portfolio */

#portfolio {
  text-align: center;
  margin-top: 2rem;
  background: #758f9c63;
}

#portfolio,
h1 {
  padding-top: 1.5rem;
}

.projects {
  display: grid;
  justify-content: center;
}

.projects,
.sub_title {
  margin: 2rem;
}

#contacts {
  text-align: center;
}
.all_social {
  display: flex;
  justify-content: center;
}

.all_social > a > img {
  width: 42px;
  margin-right: 3rem;
}

.all_social > a:hover {
  transform: scale(0.5);
  transition: all 2s ease-in-out;
}

/* button */
.btn {
  background-color: #000;
  width: 12rem;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 16px 2px 47px;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background: #ffd700;
}

.btn:active {
  background: #5fe5f7;
}

.btn_contact {
  border-radius: 32px;
}
